/* You can add global styles to this file, and also import other style files */
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../../../../assets/img/Rorschach-fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.seleccion:not(.highlight-card):hover {
    transform: translateY(-3px);
    border-color: rgb(251, 251, 251);
    border-style: outset;
    box-shadow: 0 4px 17px rgb(253, 253, 252);
}