<div class="body">
  <!-- formulario de perfil -->
  <mat-card class="login seleccion" *ngIf="registro && !loading">
    <form (ngSubmit)="onSaveUser(form.value)" [formGroup]="form">
      <div class="container mb-3">
        <img
          [src]="currentImage"
          class="card-img-top imagen img-avatar imagen-blur imagen-hover rounded-circle mt-3"
          alt="avatar"
        />
        <div class="overlay imagen-hover" (click)="selectFile.click()">
          <p class="text">Seleccionar Imagen</p>
        </div>
        <input
          hidden
          type="file"
          id="inputImageProfile"
          name="file"
          placeholder="Avatar profile"
          formControlName="photoURL"
          (change)="handleImage($any($event).target.files[0])"
          #selectFile
        />
      </div>
      <mat-card-content>
        <mat-form-field class="ancho mt-3" appearance="fill">
          <mat-label> Nombre </mat-label>
          <input
            matInput
            placeholder="Nombre"
            formControlName="displayName"
            autocomplete="off"
          />
        </mat-form-field>

        <mat-form-field class="ancho" appearance="fill">
          <mat-label> Correo </mat-label>
          <input
            matInput
            placeholder="Correo"
            formControlName="email"
            autocomplete="off"
            readonly
          />
        </mat-form-field>

        <button
          type="submit"
          mat-raised-button
          class="botton ancho mb-5"
          color="primary"
          [disabled]="form.invalid"
        >
          Save <mat-icon class="icon-pull-right">save</mat-icon>
        </button>
      </mat-card-content>
    </form>
  </mat-card>
  <!-- formulario de registro para usuarios de otros proveedores -->
  <mat-progress-spinner
    *ngIf="loading"
    class="spinner"
    [diameter]="diameter"
    [color]="color"
    [mode]="mode"
    [value]="value"
  >
  </mat-progress-spinner>
  <mat-card class="login seleccion" *ngIf="!registro && !loading">
    <form [formGroup]="formRegister" (ngSubmit)="register()">
      <h1 class="titulo-orange text-shadow"><b>Registro de Usuario</b></h1>
      <!-- nombre input -->
      <mat-form-field class="ancho" appearance="fill">
        <mat-label><b>Nombre</b></mat-label>
        <input
          matInput
          type="text"
          name=""
          autocomplete="off"
          formControlName="name"
          placeholder="Ingresa tu nombre"
          readonly
        />
      </mat-form-field>

      <!-- edad input -->
      <mat-form-field class="ancho" appearance="fill">
        <mat-label><b>Fecha de nacimiento</b></mat-label>
        <input
          matInput
          type="date"
          name=""
          autocomplete="off"
          formControlName="birthDate"
          placeholder="Fecha de nacimiento"
        />
      </mat-form-field>

      <!-- usuario input -->
      <mat-form-field class="ancho" appearance="fill">
        <mat-label><b>Correo</b></mat-label>
        <input
          matInput
          type="text"
          name=""
          autocomplete="off"
          formControlName="email"
          placeholder="Ingresa el email"
          readonly
        />
      </mat-form-field>
      <br />
      <!-- botones -->
      <button
        type="submit"
        mat-raised-button
        class="botton ancho mb-3"
        color="primary"
        [disabled]="formRegister.invalid"
      >
        Registrar <mat-icon class="icon-pull-right">person_add</mat-icon>
      </button>
      <button
        type="button"
        mat-raised-button
        class="botton ancho mb-3"
        color="accent"
        routerLink="/login"
      >
        Cancelar <mat-icon class="icon-pull-right">cancel</mat-icon>
      </button>
    </form>
  </mat-card>
  <!-- termina formulario de registro para usuarios de otros proveedores -->
</div>
