/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-spacer {
    flex: 1 1 auto;
}

/* Footer */
.footer{
    padding: 20px 0;
    background: #252525;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color:white;
}
.chat-box{
    border-color: rgb(251, 251, 251);
    border-style: outset;
    box-shadow: 0 4px 17px rgb(253, 253, 252);
}

/* Chat */
.chat{
  overflow-y: scroll;
    height: 270px;
    padding: 5px;
}
.ancho{
  height: 100%;
}
.puntero {
  cursor: pointer;
}
.efectMsj:not(.highlight-card):hover {
  transform: translateY(-3px);
  border-radius: 4px;
  padding: 3px;
  cursor: pointer;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

/* boton flotante */
.btn-flotante {
  position: fixed;
  bottom: 50px;
  right: 40px;
  transition: all 300ms ease 0ms;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.622)
}

.btn-hover:not(.highlight-card):hover {
  border-color: rgb(251, 251, 251);
  border-style: outset;
  box-shadow: 0 4px 17px rgb(253, 253, 252);
}
.titulo-orange{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:orange;
}
.titulo-red {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(124, 11, 11);
}
.text-shadow{
  text-shadow: 2px 2px 2px rgb(0, 0, 0),
  0px 4px 1px rgba(0, 0, 0, 0.5),
  4px 4px 5px rgba(0, 0, 0, 0.7),
  0px 0px 7px rgba(0, 0, 0, 0.4);
}
.warning {
  background-color: rgba(186, 9, 9, 0.537);
  color:rgb(253, 253, 252);
  text-align: center;
}
.primary {
  background-color: rgba(18, 47, 120, 0.597);
  color: rgb(253, 253, 252);
  text-align: center;
}
.texto-name{
  /* para interrumpir el parrafo con puntos suspensivos */
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
    line-height: 100%;
    /* fallback */
    max-height: 100%;
    /* fallback */
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

/* p {
  font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
  font-size: 30px;
  text-align: center;
  margin: 2rem 3rem 0;
  color: rgb(10, 10, 10);
  font-weight: 100;
  text-shadow: 2px 5px 8px #030000;
} */